@import "tailwindcss";

@theme inline {
  --font-poppins: var(--font-poppins);
}

body {
  background: #ffffff;
  font-family: var(--font-poppins), sans-serif;
}

::-webkit-scrollbar {
  display: none;
}
